.wrapper {
	min-height: 400vh;
}

.container {
	position: fixed;
	display: flex;
	width: 500%;
	height: 100vh;
	transition: 0.25s ease-out;
}

.container section {
	position: relative;
	width: 100vw;
	height: 100vh;
	background: var(--cle);
	display: flex;
	justify-content: center;
	align-items: center;
	border: 5px solid #333;
}

.content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content h2 {
	font-size: 4em;
	color: #333;
}