.wrapper {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
}

.container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ring {
  width: 150px;
  height: 150px;
  border: 4px solid transparent;
  border-left: none;
  border-top: 4px solid #24ecff;
  border-radius: 50%;
  margin: -30px;
  filter: drop-shadow(0 0 10px #24ecff) drop-shadow(0 0 30px #24ecff)
    drop-shadow(0 0 50px #24ecff);
  animation: animate 4s linear infinite;
}

.ring::before {
  content: "";
  display: block;
  background-color: #24ecff;
  -webkit-mask: url("../../images/svg/rocket.svg") no-repeat 100% 100%;
  mask: url("../../images/svg/rocket.svg") no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 0px;
  rotate: 130deg;
}

.ring:nth-child(2) {
  border-left: 4px solid #93ff2d;
  border-top: none;
  filter: drop-shadow(0 0 10px #93ff2d) drop-shadow(0 0 30px #93ff2d)
    drop-shadow(0 0 50px #93ff2d);
  animation: animate2 4s linear infinite;
  animation-delay: -1s;
}

.ring:nth-child(2)::before {
  top: initial;
  bottom: 0px;
  left: 15px;
  rotate: 120deg;
  background-color: #93ff2d;
  -webkit-mask: url("../../images/svg/plane.svg") no-repeat 100% 100%;
  mask: url("../../images/svg/plane.svg") no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.ring:nth-child(3) {
  position: absolute;
  top: -66.66px;
  border-left: 4px solid #ff1d6c;
  border-top: none;
  margin: -30px;
  filter: drop-shadow(0 0 10px #ff1d6c) drop-shadow(0 0 30px #ff1d6c)
    drop-shadow(0 0 50px #ff1d6c);
  animation: animate2 4s linear infinite;
  animation-delay: -3s;
}

.ring:nth-child(3)::before {
  top: initial;
  bottom: 0px;
  left: 12px;
  rotate: 80deg;
  background-color: #ff1d6c;
  -webkit-mask: url("../../images/svg/jet.svg") no-repeat 100% 100%;
  mask: url("../../images/svg/jet.svg") no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
