.wrapper {
  position: relative;
  font-family: consolas;
}

.title {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 8rem;
  color: transparent;
}
.title > span:first-child {
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  transition: 0.5s;
  clip-path: polygon(0 0, 100% 0, 100% 51%, 0 51%);
  overflow: hidden;
}

.title:hover > span:first-child,
.title:focus > span:first-child {
  transform: translateY(-24px);
}
.title > span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  transition: 0.5s;
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  overflow: hidden;
}

.title:hover > span:nth-child(2),
.title:focus > span:nth-child(2) {
  transform: translateY(24px);
}

.title > span:last-child {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) scale(0);
  width: 98%;
  margin-left: 4px;
  color: #000;
  background: #ff0;
  font-size: 0.25em;
  font-weight: 500;
  letter-spacing: 0.7em;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
}

.title:hover > span:last-child,
.title:focus > span:last-child {
  transform: translateY(-50%) scale(1);
}
