.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}

.circle {
  position: relative;
  width: 400px;
  height: 400px;
	filter: url(#wavy) blur(1px);
}

.circle::before {
  content: "";
  position: absolute;
  inset: 50px;
  border: 10px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 30px #0f0, inset 0 0 50px #0f0;
  -webkit-box-reflect: below 10px
    linear-gradient(transparent, transparent, #0002);
  animation: animate 5s linear infinite;
}

.circle::after {
  content: "";
  position: absolute;
  inset: 50px;
  border: 10px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 30px #fff, inset 0 0 50px #fff;
  -webkit-box-reflect: below 10px
    linear-gradient(transparent, transparent, #0002);
  animation: animate 5s linear infinite;
}

.circle:nth-child(2):before {
	animation-delay: -2.5s;
}

@keyframes animate {
  0% {
    box-shadow: 0 0 30px #0f0, inset 0 0 30px #0f0;
  }

  20% {
    box-shadow: 0 0 40px #0f0, inset 0 0 30px #0f0;
  }

  40% {
    box-shadow: 0 0 10px #0f0, inset 0 0 30px #0f0;
  }

  60% {
    box-shadow: 0 0 60px #0f0, inset 0 0 30px #0f0;
  }

  80% {
    box-shadow: 0 0 80px #0f0, inset 0 0 30px #0f0;
  }
  100% {
    box-shadow: 0 0 30px #0f0, inset 0 0 30px #0f0;
		filter: hue-rotate(360deg);
  }
}

.svg {
	width: 0;
	height: 0;
}
