.wrapper {
	position: relative;
}

.section {
	position: sticky;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background: url('../../../images/17.jpg') no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	clip-path: circle(10px at center);
}

.container {
	position: relative;
	margin-top: 50vh;
	background: #fff;
	padding: 20px;
}

.container > h2 {
	font-size: 2.5em;
	margin-bottom: 20px;
}

.title {
	position: absolute;
	top: 250px;
	z-index: 1;
	font-size: 3em;
	text-align: center;
	width: 100%;
}