.section {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #3586ff;
  border-bottom: 4px solid #3586ff;
}

.wave {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: url("../../../images/wave.png");
  background-size: 1000px 100px;
}

.wave.wave1 {
  animation: animate 30s linear infinite;
  animation-delay: 0s;
  z-index: 1000;
  opacity: 1;
  bottom: 0;
}

.wave.wave2 {
  animation: animate2 15s linear infinite;
  animation-delay: -5s;
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
}
.wave.wave3 {
  animation: animate 30s linear infinite;
  animation-delay: -2s;
  z-index: 998;
  opacity: 0.2;
  bottom: 15px;
}

.wave.wave4 {
  animation: animate2 15s linear infinite;
  animation-delay: -2s;
  z-index: 997;
  opacity: 0.7;
  bottom: 20px;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

